.poll-container{
 
    width: 95%;
    background-color: #F0F3F5;
    margin-top: 5%;
    margin-left: 2%;
}
.tolltip-text{
    color:#B2BABB;
    font-size: 12px;
    margin-left: 10px;
}
.poll-question-text{
    padding-left: 0;
    margin-left: 10px;
}
.card{
    // height: 55px;
    display: block;
    text-align: center;
}
.statistics-container{
    margin-top: 30px;
    margin-left: 1%;
}




// side bar styling


.boxDiv  {
    min-height:50px;
    padding-left:20px;
    padding-top:20px;
    background-color:forestgreen;
    font-weight:bold;
    color:white;
    margin: 5px
}
.boxDivChat {  
      padding-right:20px;
    /*font-weight:bold; */
    color:black;
    margin: 20px; 
}

.table-borderless td {
border:none !important;
text-align: left;
}
.image_with_badge_container {
    display: inline-block; /* keeps the img with the badge if the img is forced to a new line */
    position: relative;
    padding-right: 10px;
    /* margin-bottom: 5px; */
}

.badge-on-image {
    position: absolute;
    left: 24px; /* position where you want it */
    top: -5px;
    /* padding: 6px 12px; */
}