.poll-container{
 
    width: 100%;
    background-color: #F0F3F5;
    margin-top: 5%;
}
.tolltip-text{
    color:#B2BABB;
    font-size: 12px;
    margin-left: 10px;
}
.poll-question-text{
    padding-left: 0;
    margin-left: 10px;
}
.card{
    // height: 55px;
    display: block;
    text-align: center;
}