
<home-sub-header></home-sub-header>
<div class="container">
  <div class="row">
    <div class="col-md-8 poll-container ">
      <div class="row"> <p class='tolltip-text  float-left'>TODAY'S POLL</p> </div> 
        <div class="row"> <h4 class="poll-question-text float-left">Which party do you approve of?</h4></div>
       
       
     <div class="row">   <!--Panel-->
        <div class="container-fluid">
            <div class="row">
              <div class="col">
                  <party-panel imageUrl="assets/cong.png" partyName="Indian National Congress"></party-panel> 
              </div>
              <div class="col-xs-1"></div>
              <div class="col">
                  <party-panel imageUrl="assets/smd.png" partyName="Shiromani Akali Dal"></party-panel> 
              </div>
            </div>
           
            <div class="row" style="margin-top:15px;">
                <div class="col">
                    <party-panel imageUrl="assets/aap.png" partyName="Aam Aadmi Party"></party-panel> 
                  </div>
                  <div class="col-xs-1"></div>
                  <div class="col">
                    <party-panel imageUrl="assets/cong.png" partyName="Others"></party-panel> 
                  </div>
            </div>
        </div>    
      </div>    
       
        <!--/.Panel-->
                      
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>