
<ul class="breadcrumb breadcrumb-default align-items-center ">
  <li class="bItem visible-lg-block visible-md-block breadcrumb-item "><a  routerLink="/issues/" routerLinkActive="active">Categories</a></li>
  <li class=" visible-lg-block visible-md-block breadcrumb-item "><a routerLink="/issues/trending" routerLinkActive="active">Trending</a></li>
  <li class=" visible-lg-block visible-md-block breadcrumb-item "><a routerLink="/issues/my-issues" routerLinkActive="active">My Issues</a></li>
</ul>