
<!-- Main container full width excluding side bar defined in parent -->
<div class="container trendingCont">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-12">
            <div class="container TopMargin" style="margin-bottom:15px;">
                <img class="treeImg" src="assets/forest.png" height="32px" width="32px">
                <span  class="font-weight-bold ResponsiveSpan">Environmental Issues</span>
                <span style="color:darkgray;"> - 25 Issues/7 Polls</span>
                <span  class="font-weight-bold float-right ResponsiveSpan" style="margin-top:5px;"><i style="color:rgb(85, 87, 228);" class="fa fa-bars fa-sm"></i> SORT</span>        
            </div>

            <!-- Content container for ISSUES -->
            <div class="container Issues-Cont" >
                <div class="row">

                    <!-- Column 1  for like button with count-->
                    <div class="col-1">
                            <div  class="text-center Issues-Col1 SetCol1">
                                <i style="color:gray;" class="fa fa-thumbs-up fa-sm"></i>
                                <span style="color:black;" class="font-weight-bold">25</span>
                            </div>
                    </div>
                    <!-- Column 1 ends here -->

                    <!-- Column 2 for main content/post-->
                    <div class="col-9">
                        <div>
                            <p><span  class="ResponsiveSpan" style="color:darkgray;">ISSUE</span>
                            <span class="float-right font-weight-bold ResponsiveSpan">#infrastructure</span></p>
                            <h4>Repair of Durga Mata Mandir</h4>
                            <p style="color:darkgray;">Synth polaroid bitters chillwave pickled. vegan disrupt tous led, Portland keffiyeh aesthetic food truck
                                sriracha corn hole single-origin coffee church-key roof party.
                            </p>
                        </div>
                        <div>
                            <div class="Rply-Img-Div">
                                <img class="Rply-Img" src="assets/maahi.jpg" height="32px" width="32px">
                            </div>
                            <div class="Rply-Person">
                                <span class="font-weight-bold">John wick</span><br/>
                                <span style="color:darkgray;">05 January, 2018</span>
                            </div>
                            <div class="float-right Rply-Count">
                                <span class="font-weight-bold"><i style="color:gray;" class="fa fa-reply fa-sm"></i> 10 REPLIES</span>
                            </div>
                        </div>
                    </div>
                    <!-- Column 2 ends here -->

                    <!-- Column 3  for cotent/post image-->
                    <div class="col-2">
                        <img class="Post-Img" src="assets/maahi.jpg" alt="issue-image" />
                    </div>
                    <!-- Column 3 ends here -->

                </div>
                <!-- Row container for issues end here -->


                <!-- Start of replies container with row/s, with two cols, one empty another merge of two same as above-->
                <div class="container Sub-Rply-Cont" >
                    <!-- Start replies row -->
                    <div class="row">
                        <!-- Column 1 empty -->
                        <div class="col-1">

                        </div>
                        <!-- Column 1 ends here -->

                        <!-- Column 2 starts here -->
                        <div class="col-11 Sub-Rply-Border" >
                            
                            <div class="Sub-Rply-Div">
                                    <img class="Sub-Rply-Img" src="assets/maahi.jpg" height="32px" width="32px">
                            </div>
                            <div class="Sub-Rply-Content">
                                
                                <span class="font-weight-bold">Charles Frazier</span>
                                <span style="color:darkgray;">, Mayor, Jalandhar City</span>
                                <p style="color:darkgray;">So that for better or for worse, we two, for the time, were wedded; and should poor Queequeg
                                sink to rise no more, then both usage and honour demanded, that instead of cutting the cord, 
                                it should drag me down in his wake.</p>
                
                            </div>

                        </div>
                        <!-- Column 2 ends here -->
                    </div>
                    <!-- row ends here for replies -->
                </div>
                <!-- end of replies container -->

            </div>
            <!-- end of content container for issues -->

        </div> <!-- End of columns -->
    </div> <!-- End of row -->




<!-- Start of second row  Poll-->
    <div class="row" style="margin-bottom:10px;">
            <div class="col-12"> 
                <!-- Content container for  POLL  -->
                <div class="container Poll-Cont" >
                    <!-- Row starts here -->
                    <div class="row">
                        <!-- Column 1 strts here -->
                        <div class="col-1">
                            <div  class="text-center Poll-Col1-Border" >
                                <i style="color:rgb(248, 246, 246);" class="fa fa-thumbs-up fa-sm"></i>
                                <span style="color:black;" class="font-weight-bold">25</span>
                            </div>
                        </div>
                        <!-- Column 1 ends here -->
    
                        <!-- Column 2 starts here -->
                        <div class="col-11">
                            <div>
                                <span  style="color:darkgray;">POLL</span>
                                <h4>From the image below, tell us who has contributed to the BJP's long Gujarat stint?</h4>
                                <p>
                                    <img class="Poll-Col2-Img" src="assets/poll.png"  alt="poll-image"/>
                                </p>
                            </div>
                            <div class="Poll-Col2-Cont-Border">
                                <h6 class="Poll-Col2-h6">
                                    Disintegration of KHAM (Kshatriya, Harijan, Adivasi, Muslim) alliance
                                </h6>
                                <h6 class="Poll-Col2-h6">
                                    Patidars, shifting allegiance from Congress to BJP
                                </h6>
                                <h6 class="Poll-Col2-h6">
                                    Consolidation of Hindu votes after Ram Janm Bhoomi
                                </h6>
                                <h6 style="padding:8px 15px;">
                                    Further polarisation after Godhra riots
                                </h6>
                            </div>
                            <div>
                                <div style="display: inline-block;height:32px; width:32px;">
                                    <img class="Poll-Col2-Rply-Img" src="assets/maahi.jpg" height="32px" width="32px">
                                </div>
                                <div class="Poll-Col2-Rply-Person">
                                    <span class="font-weight-bold">John wick</span><br/>
                                    <span style="color:darkgray;">05 January, 2018</span>
                                </div>
                                <div style="display:inline-block;height:32px;font-size:14px;" class="float-right">
                                    <span class="font-weight-bold"><i style="color:gray;" class="fa fa-reply fa-sm"></i> 10 REPLIES</span>
                                </div>
                            </div>
                        </div>    
                        <!-- Column 2 ends here -->
                    </div>
                    <!-- Row ends here for poll -->
                </div>
                <!-- end of content container for poll -->
            </div> <!-- End of columns -->
        </div> <!-- End of second row -->



        <!-- ================== Replica of the above code ======================= -->

        <div class="row" style="margin-bottom:10px;">
                <div class="col-12">
    
                    <!-- Content container for ISSUES -->
                    <div class="container Issues-Cont" >
                        <div class="row">
        
                            <!-- Column 1  for like button with count-->
                            <div class="col-1">
                                    <div  class="text-center Issues-Col1 SetCol1">
                                        <i style="color:gray;" class="fa fa-thumbs-up fa-sm"></i>
                                        <span style="color:black;" class="font-weight-bold">25</span>
                                    </div>
                            </div>
                            <!-- Column 1 ends here -->
        
                            <!-- Column 2 for main content/post-->
                            <div class="col-9">
                                <div>
                                    <p><span  class="ResponsiveSpan" style="color:darkgray;">ISSUE</span>
                                    <span class="float-right font-weight-bold ResponsiveSpan">#infrastructure</span></p>
                                    <h4>Repair of Durga Mata Mandir</h4>
                                    <p style="color:darkgray;">Synth polaroid bitters chillwave pickled. vegan disrupt tous led, Portland keffiyeh aesthetic food truck
                                        sriracha corn hole single-origin coffee church-key roof party.
                                    </p>
                                </div>
                                <div>
                                    <div class="Rply-Img-Div">
                                        <img class="Rply-Img" src="assets/maahi.jpg" height="32px" width="32px">
                                    </div>
                                    <div class="Rply-Person">
                                        <span class="font-weight-bold">John wick</span><br/>
                                        <span style="color:darkgray;">05 January, 2018</span>
                                    </div>
                                    <div class="float-right Rply-Count">
                                        <span class="font-weight-bold"><i style="color:gray;" class="fa fa-reply fa-sm"></i> 10 REPLIES</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Column 2 ends here -->
        
                            <!-- Column 3  for cotent/post image-->
                            <div class="col-2">
                                <img class="Post-Img" src="assets/maahi.jpg" alt="issue-image" />
                            </div>
                            <!-- Column 3 ends here -->
        
                        </div>
                        <!-- Row container for issues end here -->
        
        
                        <!-- Start of replies container with row/s, with two cols, one empty another merge of two same as above-->
                        <div class="container Sub-Rply-Cont" >
                            <!-- Start replies row -->
                            <div class="row">
                                <!-- Column 1 empty -->
                                <div class="col-1">
        
                                </div>
                                <!-- Column 1 ends here -->
        
                                <!-- Column 2 starts here -->
                                <div class="col-11 Sub-Rply-Border" >
                                    
                                    <div class="Sub-Rply-Div">
                                            <img class="Sub-Rply-Img" src="assets/maahi.jpg" height="32px" width="32px">
                                    </div>
                                    <div class="Sub-Rply-Content">
                                        
                                        <span class="font-weight-bold">Charles Frazier</span>
                                        <span style="color:darkgray;">, Mayor, Jalandhar City</span>
                                        <p style="color:darkgray;">So that for better or for worse, we two, for the time, were wedded; and should poor Queequeg
                                        sink to rise no more, then both usage and honour demanded, that instead of cutting the cord, 
                                        it should drag me down in his wake.</p>
                        
                                    </div>
        
                                </div>
                                <!-- Column 2 ends here -->
                            </div>
                            <!-- row ends here for replies -->
                        </div>
                        <!-- end of replies container -->
        
                    </div>
                    <!-- end of content container for issues -->
        
                </div> <!-- End of columns -->
            </div> <!-- End of row -->
        
        
        
        
        <!-- Start of second row  Poll-->
            <div class="row" style="margin-bottom:10px;">
                    <div class="col-12"> 
                        <!-- Content container for  POLL  -->
                        <div class="container Poll-Cont" >
                            <!-- Row starts here -->
                            <div class="row">
                                <!-- Column 1 strts here -->
                                <div class="col-1">
                                    <div  class="text-center Poll-Col1-Border" >
                                        <i style="color:rgb(248, 246, 246);" class="fa fa-thumbs-up fa-sm"></i>
                                        <span style="color:black;" class="font-weight-bold">25</span>
                                    </div>
                                </div>
                                <!-- Column 1 ends here -->
            
                                <!-- Column 2 starts here -->
                                <div class="col-11">
                                    <div>
                                        <span  style="color:darkgray;">POLL</span>
                                        <h4>From the image below, tell us who has contributed to the BJP's long Gujarat stint?</h4>
                                        <p>
                                            <img class="Poll-Col2-Img" src="assets/poll.png"  alt="poll-image"/>
                                        </p>
                                    </div>
                                    <div class="Poll-Col2-Cont-Border">
                                        <h6 class="Poll-Col2-h6">
                                            Disintegration of KHAM (Kshatriya, Harijan, Adivasi, Muslim) alliance
                                        </h6>
                                        <h6 class="Poll-Col2-h6">
                                            Patidars, shifting allegiance from Congress to BJP
                                        </h6>
                                        <h6 class="Poll-Col2-h6">
                                            Consolidation of Hindu votes after Ram Janm Bhoomi
                                        </h6>
                                        <h6 style="padding:8px 15px;">
                                            Further polarisation after Godhra riots
                                        </h6>
                                    </div>
                                    <div>
                                        <div style="display: inline-block;height:32px; width:32px;">
                                            <img class="Poll-Col2-Rply-Img" src="assets/maahi.jpg" height="32px" width="32px">
                                        </div>
                                        <div class="Poll-Col2-Rply-Person">
                                            <span class="font-weight-bold">John wick</span><br/>
                                            <span style="color:darkgray;">05 January, 2018</span>
                                        </div>
                                        <div style="display:inline-block;height:32px;font-size:14px;" class="float-right">
                                            <span class="font-weight-bold"><i style="color:gray;" class="fa fa-reply fa-sm"></i> 10 REPLIES</span>
                                        </div>
                                    </div>
                                </div>    
                                <!-- Column 2 ends here -->
                            </div>
                            <!-- Row ends here for poll -->
                        </div>
                        <!-- end of content container for poll -->
                    </div> <!-- End of columns -->
                </div> <!-- End of second row -->
        


        <!-- ================== Replica ends here =============================== -->



</div>  <!-- End of main div container -->









