<div class="chat-sidebar  boxDivChat float-right">

  <table class="table table-lg table-borderless ">
      <tr>
          <td colspan="3">

              <h6>
                  <small>
                      <strong>Popular Candidates</strong>
                  </small>
              </h6>
          </td>
      </tr>
      
      <div class="sidebar-name m1">
          <!-- Pass username and display name to register popup -->

          <tr>
              <td>
                  <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">
                          <!-- <img class="rounded-circle"  style=" width:40px;height:40px;position: relative;" src="https://pbs.twimg.com/profile_images/974851878860312582/O-Zn2b72_400x400.jpg" alt="Rahul Gandhi" /> -->
                          <!-- <img class="rounded-circle"  class="rounded circle" style=" width:20px;height:20px;position: absolute; top: 55px; left: 1115px;" src="https://pbs.twimg.com/profile_images/928449965134815233/w2JsNWPK_400x400.jpg" alt="Inc" />        -->
                          <div class="image_with_badge_container">
                              <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;"src="https://pbs.twimg.com/profile_images/974851878860312582/O-Zn2b72_400x400.jpg" alt="Rahul Gandhi" />         
                              <span class="badge badge-on-image">
                                <img class="rounded rounded-circle" id="image2"  style=" width:20px;height:20px; border-radius:20px" src="https://pbs.twimg.com/profile_images/928449965134815233/w2JsNWPK_400x400.jpg" alt="Inc" />
                              </span>
                            </div>    
                  </a>
              </td>
              <td>
                 
                  <span>
                      <small>
                          <p>INC <br>
                          <strong>Rahul gandhi</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-light" style="color:black; padding:10px;">Vote Now</span>
              </td>
          </tr>
          
      </div>
      <div class="sidebar-name">
          <tr>
              <td>
                  <a href="javascript:register_popup('qnimate', 'QNimate');">
                      <!-- <img class="rounded-circle" width="40" height="40" src="https://pbs.twimg.com/profile_images/936559462655000577/ANmfdMTO_400x400.jpg" -->
                      <!-- <img class="rounded-circle"  style=" width:40px;height:40px;position: relative;" src="https://pbs.twimg.com/profile_images/936559462655000577/ANmfdMTO_400x400.jpg" alt="Narendra Modi" /> -->
                          <!-- <img class="rounded-circle"  class="rounded circle" style=" width:20px;height:20px;position: absolute; top: 100px; left: 1115px;" src="https://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_400x400.jpg" alt="BJP" />    -->
                          <div class="image_with_badge_container">
                              <img class="rounded-circle" id="image1"  style="width:40px;height:40px;" src="https://pbs.twimg.com/profile_images/936559462655000577/ANmfdMTO_400x400.jpg" alt="Narendra Modi" />         
                              <span class="badge badge-on-image">
                                <img class="rounded-circle" id="image2"  style="width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_400x400.jpg" alt="BJP" />
                              </span> 
                           </div>      
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>BJP <br>
                                    
                          <strong>Narendra Modi</strong></p>
                        
                        </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-light" style="color:black; padding:10px;">Vote Now</span>
              </td>
          </tr>
      </div>

      <div class="sidebar-name">
          <tr> 
              <td>
                  <a href="javascript:register_popup('qscutter', 'QScutter');">
                      <!-- <img class="rounded-circle" width="40" height="40" src="https://pbs.twimg.com/profile_images/949967824075632640/cfpr6CRx_400x400.jpg" /> -->
                      <!-- <img class="rounded-circle"  style=" width:40px;height:40px;position: relative;" src="https://pbs.twimg.com/profile_images/949967824075632640/cfpr6CRx_400x400.jpg" alt="Lalu Prasad Yadav" /> -->
                      <!-- <img class="rounded-circle"  class="rounded circle" style=" width:20px;height:20px;position: absolute; top: 145px; left: 1115px;" src="https://pbs.twimg.com/profile_images/926644744129724416/9bHpDLd4_400x400.jpg" alt="RJD" />        -->
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;"src="https://pbs.twimg.com/profile_images/949967824075632640/cfpr6CRx_400x400.jpg" alt="Lalu Prasad Yadav" />         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/926644744129724416/9bHpDLd4_400x400.jpg" alt="RJD" />
                          </span>
                        </div>   
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>RJD <br>
                          <strong>Lalu Prasad yadav</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-light" style="color:black;padding:10px;" >Vote Now</span>
              </td>
          </tr>
      </div>
      <div class="sidebar-name">
          <tr>
              <td>
                  <a href="javascript:register_popup('qidea', 'QIdea');">
                      <!-- <img class="rounded-circle" width="40" height="40" src="https://pbs.twimg.com/profile_images/814744659096268800/7zg5M_nr_400x400.jpg" /> -->
                      <!-- <img class="rounded-circle"  style=" width:40px;height:40px;position: relative;" src="https://pbs.twimg.com/profile_images/814744659096268800/7zg5M_nr_400x400.jpg" alt="Maneka Gandhi" /> -->
                      <!-- <img class="rounded-circle"  class="rounded circle" style=" width:20px;height:20px;position: absolute; top: 195px; left: 1115px;" src="https://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_400x400.jpg" alt="Inc" />        -->
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;" src="https://pbs.twimg.com/profile_images/814744659096268800/7zg5M_nr_400x400.jpg" alt="Maneka Gandhi"/>         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_400x400.jpg" alt="BJP" />
                          </span>
                        </div> 
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>BJP <br>
                          <strong>Maneka Gandhi</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-light" style="color:black;padding:10px;"  >Vote Now</span>
              </td>
          </tr>
      </div>
      <div class="sidebar-name">
          <tr>
              <td>
                  <a href="javascript:register_popup('qazy', 'QAzy');">
                      <!-- <img class="rounded-circle" width="40" height="40" src="https://pbs.twimg.com/profile_images/959220898417950720/Ij9WNV0g_400x400.jpg"/> -->
                      <!-- <img class="rounded-circle"  style=" width:40px;height:40px;position: relative;" src="https://pbs.twimg.com/profile_images/959220898417950720/Ij9WNV0g_400x400.jpg" alt="Sushma Swaraj" /> -->
                      <!-- <img class="rounded-circle"  class="rounded circle" style=" width:20px;height:20px;position: absolute; top: 245px; left: 1115px;" src="https://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_400x400.jpg" alt="Inc" />        -->
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;" src="https://pbs.twimg.com/profile_images/959220898417950720/Ij9WNV0g_400x400.jpg" alt="Sushma Swaraj"/>         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_400x400.jpg" alt="BJP" />
                          </span>
                        </div>  
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>BJP <br>
                          <strong>Sushma Swaraj</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-light" style="color:black;padding:10px;" >Vote Now</span>
              </td>
          </tr>
      </div>

      <div class="sidebar-name">
          <tr>
              <td>
                  <a href="javascript:register_popup('qblock', 'QBlock');">
                      <!-- <img class="rounded-circle" width="40" height="40" src="https://pbs.twimg.com/profile_images/928582848784633857/sX6E0-GB_400x400.jpg"/> -->
                      <!-- <img class="rounded-circle"  style=" width:40px;height:40px;position: relative;" src= "https://pbs.twimg.com/profile_images/928582848784633857/sX6E0-GB_400x400.jpg"alt="Shashi tharoor" /> -->
                      <!-- <img class="rounded-circle"  class="rounded circle" style=" width:20px;height:20px;position: absolute; top: 290px; left: 1115px;" src="https://pbs.twimg.com/profile_images/928449965134815233/w2JsNWPK_400x400.jpg" alt="Inc" />        -->
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;"src="https://pbs.twimg.com/profile_images/928582848784633857/sX6E0-GB_400x400.jpg"alt="Shashi tharoor" />         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/928449965134815233/w2JsNWPK_400x400.jpg" alt="Inc" />
                          </span>
                        </div>  
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>INC <br>
                          <strong>Shashi Throor</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-light" style="color:black;padding:10px;"  >Vote Now</span>
              </td>
          </tr>
      </div>
      

      <tr>
          <td colspan="3">
             <hr>
          </td>
      </tr>




<!--Second div start-->
      <tr>
          <td colspan="3">
              <h6>
                  <small>
                      <strong>Popular Influencers</strong>
                  </small>
              </h6>
          </td>
      </tr>
      <div class="sidebar-name m1">
          <!-- Pass username and display name to register popup -->

          <tr>
              <td>
                  <a href="javascript:register_popup('narayan-prusty', 'Narayan Prusty');">
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;"src="https://pbs.twimg.com/profile_images/974851878860312582/O-Zn2b72_400x400.jpg" alt="Rahul Gandhi" />         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/928449965134815233/w2JsNWPK_400x400.jpg" alt="Inc" />
                          </span>
                        </div> 
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>INC <br>
                          <strong>Rahul gandhi</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-primary" style="color:black;padding:10px;">Vote Now</span>
              </td>
          </tr>
          
      </div>
      <div class="sidebar-name">
          <tr>
              <td>
                  <a href="javascript:register_popup('qnimate', 'QNimate');">
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;" src="https://pbs.twimg.com/profile_images/936559462655000577/ANmfdMTO_400x400.jpg" alt="Narendra Modi" />         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_400x400.jpg" alt="BJP" />
                          </span> 
                       </div>  
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>BJP <br>
                          <strong>Narendra Modi</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-primary" style="color:black;padding:10px;">Vote Now</span>
              </td>
          </tr>
      </div>

      <div class="sidebar-name">
          <tr> 
              <td>
                  <a href="javascript:register_popup('qscutter', 'QScutter');">              
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;"src="https://pbs.twimg.com/profile_images/949967824075632640/cfpr6CRx_400x400.jpg" alt="Lalu Prasad Yadav" />         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/926644744129724416/9bHpDLd4_400x400.jpg" alt="RJD" />
                          </span>
                        </div>  
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>RJD <br>
                          <strong>Lalu Prasad yadav</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-primary" style="color:black;padding:10px;" >Vote Now</span>                        
              </td>
          </tr>
      </div>
      <div class="sidebar-name">
          <tr>
              <td>
                  <a href="javascript:register_popup('qidea', 'QIdea');">
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;" src="https://pbs.twimg.com/profile_images/814744659096268800/7zg5M_nr_400x400.jpg" alt="Maneka Gandhi"/>         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_400x400.jpg" alt="BJP" />
                          </span>
                        </div> 
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>BJP <br>
                          <strong>Maneka Gandhi</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-primary" style="color:black;padding:10px;" >Vote Now</span>                        
              </td>
          </tr>
      </div>
      <div class="sidebar-name">
          <tr>
              <td>
                  <a href="javascript:register_popup('qazy', 'QAzy');">
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;" src="https://pbs.twimg.com/profile_images/959220898417950720/Ij9WNV0g_400x400.jpg" alt="Sushma Swaraj"/>         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/812531108092874753/frVON4bm_400x400.jpg" alt="BJP" />
                          </span>
                        </div>  
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>BJP <br>
                          <strong>Sushma Swaraj</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-primary" style="color:black;padding:10px;" >Vote Now</span>                        
              </td>
          </tr>
      </div>

      <div class="sidebar-name">
          <tr>
              <td>
                  <a href="javascript:register_popup('qblock', 'QBlock');">
                      <div class="image_with_badge_container">
                          <img class="rounded-circle" id="image1"  style=" width:40px;height:40px;"src="https://pbs.twimg.com/profile_images/928582848784633857/sX6E0-GB_400x400.jpg"alt="Shashi tharoor" />         
                          <span class="badge badge-on-image">
                            <img class="rounded-circle" id="image2"  style=" width:20px;height:20px;" src="https://pbs.twimg.com/profile_images/928449965134815233/w2JsNWPK_400x400.jpg" alt="Inc" />
                          </span>
                        </div>  
                  </a>
              </td>
              <td>
                  <span>
                      <small>
                              <p>INC <br>
                          <strong>Shashi Throor</strong></p>
                      </small>
                  </span>
              </td>
              <td>
                  <span class="badge badge-pill badge-primary" style="color:black;padding:10px;" >Vote Now</span>                    
              </td>
          </tr>
      </div>
  </table>
  <hr>
</div>
















