<h6>
  categories
</h6>
<div class="row">
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
 
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
  
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
</div>
<div class="row" style="margin-top: 4%;"></div>
<div class="row">
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
 
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
  
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
</div>
<div class="row" style="margin-top: 4%;"></div>
<div class="row">
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
 
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
  
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
</div>
<div class="row" style="margin-top: 4%;"></div>
<div class="row">
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
 
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
  
  <div class="col-md-4 col-xs-6 col-sm-8">
    <category-card></category-card>
  </div>
</div>