     <!--Card Wider-->
     <div class="card card-cascade  h-100 d-flex flex-column justify-content-between" style="">
      <!--Card content-->
      <div class="card-body text-center">
        
          <p class="card-text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    
        </div>
    
        <div class="card-footer">
          <!--Linkedin-->
            
            <div class="media" style="height:40px;">
                  <img class="mr-3" src="assets/profile2.png" style="height:50px;width:40px;border-radius: 50px;" alt="Generic placeholder image">
                  <div class="media-body">
                    <h6 class="mt-0">Rahi Javaid</h6>
                    <p style="color:#B2BABB  ;">@rahijavaid4 test</p>
                  </div>
                   <a class="icons-sm tw-ic float-right"><i class="fa fa-twitter"> </i></a>
            </div>
            
          <!--Twitter-->
         
         
    
     
        </div> 
    
    </div>
    
    