<p>statistics</p>
<div class="row">
       
<div class="col-md-5 rounded" style="background-color: white;width: 50%;margin-left: 11px;">
        <statistics-card style="height:40px" imgUrl="assets/cong.png" partyColor="orange" cardTitle="Indian National Congress" progressPrecent={{80}}></statistics-card><br>
        <statistics-card style="height:40px" imgUrl="assets/aap.png" partyColor="green"  cardTitle="Aam Admi Party" progressPrecent={{55}} ></statistics-card><br>
        <statistics-card style="height:40px" imgUrl="assets/smd.png" partyColor="blue"  cardTitle="samdi dal" progressPrecent={{35}}></statistics-card><br >
        <statistics-card style="height:40px" imgUrl="assets/aap.png" partyColor="grey"   cardTitle="others" progressPrecent={{27}}></statistics-card><br>
</div>
<div class="col"></div>
<div class="col-md-5" style="">
       <!-- <div class="float-left body-text">Vote Breakdown</div>
            <p class="body-text" style="margin-left:50px;">Last 24<br> hours</p> -->
                <div [chart]="chart" style="width:95%;height:260px;"></div>  
                
</div>
           
      
</div>
 