<p>statistics</p>
<div class="row">

 <div class="col-xs-1"></div>

<div class="col">
    <statistics-card style="height:40px" imgUrl="assets/cong.png" partyColor="orange" cardTitle="Indian National Congress" progressPrecent={{70}}></statistics-card><br>
    <statistics-card style="height:40px" imgUrl="assets/aap.png" partyColor="green"  cardTitle="Aam Admi Party" progressPrecent={{50}} ></statistics-card><br>
    <statistics-card style="height:40px" imgUrl="assets/smd.png" partyColor="blue"  cardTitle="samdi dal" progressPrecent={{35}}></statistics-card><br >
    <statistics-card style="height:40px" imgUrl="assets/aap.png" partyColor="grey"   cardTitle="others" progressPrecent={{27}}></statistics-card><br>
</div>
<div class="col">
    <div class="div rounded" style="display:block;">
    
        <div>
        <div class="col"></div>
      <div class="col-xs-1"></div>
        <div class="col">
            <div class="container-fluid">
      
              <div class="float-left">Vote Breakdown</div>
            <div class="float-right">Last 24 hours</div>
              <div [chart]="chart" style="width:100%;height:250px;"></div>  
            
          </div>
          </div>
        </div>
</div>
      

</div>