
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
           
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">Neta</a><span>|</span></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <!-- <span class="fa fa-home"></span> -->
              <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-home"></i>Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbRippleRadius> <i class="fa fa-user"></i>Leaders</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-group"></i>  Influencers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-commenting-o"></i>Issues</a>
        </li>

          <!-- Dropdown
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
              </div>
          </li> -->

      </ul>
      <!-- Links -->

      <!-- Search form -->
      <form class="form-inline  waves-light" mdbRippleRadius>
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </form>
      <ul class="navbar-nav nabar-right">
        <li class="nav-item pill">
            <a href="" class="nav-link">Sign Up</a>
        </li>
      </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
          