<div class="card card-cascade narrower " *ngIf="firstCard">

  <!--Card image-->
  <div class="view overlay">
      <img src="" style="" style="height:100px;" class="img-fluid" alt="">
      <a>
          <div class="mask rgba-white-slight"></div>
      </a>
  </div>
  <!--/.Card image-->

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h6 class="card-title header-text">Will turn Punjab into revenue surplus state by 4th budget:Manpreet Badal</h6>
      <!--Text-->
      <p class="card-text body-text">There are many variations of passages of Lorem Ipsum available, but the majority</p>
    <p >04 April,2018</p>
  </div>
  <!--/.Card content-->

</div>
<!--/.Card Narrower-->
<!-- Second card -->
<div class="card card-cascade narrower " *ngIf="secondCard">

  

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h6 class="card-title header-text">Will turn Punjab into revenue surplus state by 4th budget:Manpreet Badal</h6>
      <!--Text-->
      <p class="card-text body-text">There are many variations of passages of Lorem Ipsum available, but the majority</p>
    
      <!--Card image-->
  <div class="view overlay">
    <img src="" style="height:90px;"class="img-fluid" alt="">
    <a>
        <div class="mask rgba-white-slight"></div>
    </a>
</div>
<!--/.Card image-->
  
      <p >04 April,2018</p>
  </div>
  <!--/.Card content-->

</div>
<!--/.Card Narrower-->


<!-- ThirdCard -->
<div class="card card-cascade narrower " *ngIf="thirdCard">

  <!--Card image-->
  <div class="view overlay">
      <img src="assets/badal3.png" style=""class="img-fluid" alt="">
      <a>
          <div class="mask rgba-white-slight"></div>
      </a>
  </div>
  <!--/.Card image-->

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h6 class="card-title header-text">Will turn Punjab into revenue surplus state by 4th budget:Manpreet Badal</h6>
      <!--Text-->
      <p class="card-text body-text">There are many variations of passages of Lorem Ipsum available, but the majority</p>
    <p >04 April,2018</p>
  </div>
  <!--/.Card content-->

</div>
<!--/.Card Narrower-->
