
<home-sub-header></home-sub-header>
<div class="container text-left">
  <div class="row" style="margin-left:4%;">
    <div class="col-md-8 col-sm-10 col-xs-12">
  <div class="row">
    <div class="poll-container" style="width:96%;">
      <div class="w-100"> <p class='tolltip-text  '>TODAY'S POLL</p> </div> 
        <div class="w-100"> <h4 class="poll-question-text ">Which party do you approve of?</h4></div>
       
       
     <div class="row" style="padding-left: 20px;padding-right: 20px;">   <!--Panel-->
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-8 col-xs-12">
                <a href="#"><party-panel imageUrl="assets/cong.png" partyName="Indian National Congress"></party-panel>  </a>   
              </div>
              <!-- <div class="col-xs-1"></div> -->
              <div class="col-md-6 col-sm-8 col-xs-12">
                  <a href="#"> <party-panel imageUrl="assets/smd.png" partyName="Shiromani Akali Dal"></party-panel> </a>
              </div>
            </div>
           
            <div class="row" style="margin-top:15px;margin-bottom:15px;">
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <a href="#">  <party-panel imageUrl="assets/aap.png" partyName="Aam Aadmi Party"></party-panel> </a>
                  </div>
                  <!-- <div class="col-xs-1"></div> -->
                  <div class="col-md-6 col-sm-8 col-xs-12">
                      <a href="#">   <party-panel imageUrl="assets/cong.png" partyName="Others"></party-panel> </a>
                  </div>
            </div>
        </div>    
      </div>    
       
        <!--/.Panel-->
                      
    </div>
  </div>

   <!-- statistics -->
   <div class="row">
      <div class="col">
          <statistics-container></statistics-container>
      </div>
    </div>

   <!-- News section -->
   <div class="row">
    <div class="col">
      <news-container></news-container>
    </div>
  </div>
 
  
  <!-- Popular tweet section -->
  <div class="row">
    <div class="col">
        <popular-tweet></popular-tweet>
    </div>
  </div>
</div> -->
    <!-- Divider -->
  
    <!-- SideBar -->
    <div class="col-md-3 col-sm-5 col-xs-7" style="margin-top:4%;">
        <!-- <profile-panel></profile-panel> -->
      <sidebar-home></sidebar-home>
  </div>

</div>