
.poll-container{
 
    width: 95%;
    background-color: #F0F3F5;
    margin-top: 7%;
    margin-left: 2%;
}
.tolltip-text{
    color:#B2BABB;
    font-size: 12px;
    margin-left: 20px;
}
.poll-question-text{
    padding-left: 0;
    margin-left: 20px;
}
.card{
    // height: 55px;
    display: block;
    text-align: center;
}
.statistics-container{
    margin-top: 30px;
    margin-left: 1%;
}



